{% comment %}
This block lists all the rest of the posts in a page's first category.
{% endcomment %}
{% assign first_category_name = page.categories.first %}

{% for category in site.categories %}
  {% if category.first == first_category_name %}
    {% assign first_category_posts  = category[1] %}
  {% endif %}
{% endfor %}

{% if first_category_posts.size > 1 %}

<h3>Other posts about {{ first_category_name }}</h3>
<div class="list-group">
  {% for post in first_category_posts %}
    {% if post.url != page.url %}
      <a class="list-group-item" href="{{ post.url }}">{{ post.title }}</a>
    {% else %}
      <a class="list-group-item active" href="{{ post.url }}">{{ post.title }}</a>
    {% endif %}
  {% endfor %}
</div>

{% endif %}
